In [ ]:
Introduction to python programming :

In [ ]:
Understanding the variables in python :

In [ ]:
x = 2

y = 3

In [8]:
z = x+y

print(z)

5

In [ ]:
Rules for declaring the variables in python :

In [ ]:
Rule no. 1 : No Namespaces while declaring the variable names in python

In [9]:
first name = 'faiyaz'

print(first name)

SyntaxError: invalid syntax (2890761798.py, line 1)

In [10]:
firstname = 'faiyaz'

print(firstname)

faiyaz

In [ ]:
Rule no. 2 : A variable name should not start with a number **

In [11]:
1name = "karthik"

print(1name)

SyntaxError: invalid decimal literal (3621741276.py, line 1)

In [12]:
name1 = "karthik"

print(name1)

karthik

In [ ]:
Rule no. 3 : A variable should not contain any special characters (@,# $%^&*)

In [13]:
name@ = "kartik"

print(name@)

SyntaxError: invalid syntax (3438818237.py, line 1)

In [ ]:
Introduction to Data types in python:

In [ ]:
1. strings ====> str

2. numbers ====> 
   a. integers ----> int and 
   b. floats ----> float (decimals ----> 01.,0.2)

3. lists ====> list

4. tuples ====> tuple

5. Dictionaries ====> dict

In [ ]:
Note: python is case sensitive programming language.

In [ ]:
CLASSIFICATION OF DATA TYPES:

In [ ]:
classification of data types in python:

Broadly datatypes are classified in 2 categories:

1. Mutable datatypes: which we can edit --> flexible in nature

2. Immutable datatypes: which we cannot edit --> these are fixed in nature

In [ ]:
INTRODUCTION TO STRING DATATYPE:

In [ ]:
Introdcution to string datatype:

Definition: A string is a series of characters declared in quotes.
Classification: It is classified as an immutable datatype

How to declare a string datatype? ====> 2 approaches

1. single quote
2. double quote

In [14]:
name = 'kalim' # single quote

print(name)

kalim

In [17]:
name2 = "kalim" # double quote

print(name2)

kalim

In [ ]:
INTRODUCTION TO STRING METHODS:

In [ ]:
Methods are built-in programs (eg. formula) availble in python

Method-1: type(datatype)

In [18]:
type(name)

str

In [19]:
type(name2)

str

In [ ]:
Method-2: title() --- To get first letter in name as Capital

In [20]:
fullname = 'zeba ansari'

print(fullname)

zeba ansari

In [ ]:
#req 1: to corret the format i.e. to write first letter in capital

In [21]:
print (fullname.title())

Zeba Ansari

In [ ]:
#req 2: to get all the letters as capital

In [22]:
print (fullname.upper())

ZEBA ANSARI

In [ ]:
#req 3: to get all the letters as small

In [23]:
print (fullname.lower())

zeba ansari