In [ ]:
continuation with list datatypes:

In [ ]:
Organising the list datatype:

In [3]:
cars = ['bmw','tata','suzuki','audi','toyota','benz']

In [4]:
print(cars)

['bmw', 'tata', 'suzuki', 'audi', 'toyota', 'benz']

In [5]:
type(cars)

list

In [ ]:
To organise data in the list data type:

In [ ]:
#req: I want to organize the list in alphabetical order..

In [ ]:
A, B, C, D

In [ ]:
there are 2 approaches:

1. temporary approach: sorted method ===> we will be able to get the original order defined.

2. permanent approach: sort method ====> sort method

In [6]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'suzuki', 'tata', 'toyota']

In [ ]:
benz, bmw ====> e , m

In [7]:
print(cars) # this is the original order

['bmw', 'tata', 'suzuki', 'audi', 'toyota', 'benz']

In [8]:
cars.sort()

In [9]:
print(cars)

['audi', 'benz', 'bmw', 'suzuki', 'tata', 'toyota']

In [ ]:
#Interview question: What is the difference between sorted and sort method in the list DT?

In [ ]:
Sorted is used for temporary sorting of names whereas sort will permanently update the values in the list

In [ ]:
# I want to count the no. of elements in the list

In [10]:
len(cars)

6

In [ ]:
# I want to print the list in the A-Z, Z-A

In [11]:
cars.reverse()

In [12]:
print(cars)

['toyota', 'tata', 'suzuki', 'bmw', 'benz', 'audi']

In [ ]:
Introduction to slicing

In [ ]:
Breaking the list in multiple parts

In [ ]:
Introduction to slicing:

In [14]:
students = ['anika','arpiat','bhushan','bhanu','chandra','cynthia','danish']

In [15]:
print(students)

['anika', 'arpiat', 'bhushan', 'bhanu', 'chandra', 'cynthia', 'danish']

In [ ]:
#general syntax for slicing:

In [ ]:
[start_value:stop_value: step_count]

In [ ]:
Note: stop is always exclusive, to include the stop value increment the index by +1.

In [ ]:
#req: I want to include anika and arpita in the slice.

In [16]:
print(students[0:1])

['anika']

In [ ]:
As it always shows value as exclusive so we have to add another index number to get correct value.

In [17]:
print(students[0:2])

['anika', 'arpiat']

In [ ]:
#req: Bhushan and Bhanu

In [18]:
print(students[2:4])

['bhushan', 'bhanu']

In [ ]:
stepcount in syntax indicates the value alternatively/ the value to be printed from list

In [ ]:
in below eg. we gave step count as 2, so we will get values alternatively in the list.

In [19]:
print(students[0:7:2])

['anika', 'bhushan', 'chandra', 'danish']

In [20]:
print(students)

['anika', 'arpiat', 'bhushan', 'bhanu', 'chandra', 'cynthia', 'danish']

In [ ]:
Intro to tuple DT:

In [ ]:
Definition: An immutable list is called as a tuple

Classification: It is classified as immutable DT

How to define the tuple DT: ( )

In [ ]:
we can define the tuple DT in () (brackets) and values cannot be changed in the tuple whereas in list we can change the value.

In [21]:
dimensions = (20,50)

In [22]:
print(dimensions)

(20, 50)

In [23]:
type(dimensions)

tuple

In [24]:
dimensions[0] = 30

TypeError: 'tuple' object does not support item assignment

In [ ]:
We cannot change any value in list, will receive errors when we try to change. We use tuple we use tuple when the values needs to be fixed. 

Functionalities of tuple  works like list but can't be changed.

In [25]:
print(dimensions[1])

50